.activity-section {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    margin: 20px;
    height: 77vh;
    overflow: hidden;
}

.activity-log-container {
    max-height: 65vh;
    overflow-y: auto;
    padding-right: 10px;
    scrollbar-width: thin;
    scrollbar-color: #ccc #f9f9f9;
}

.activity-log {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f0f2f5;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.activity-log:hover {
    background-color: #e9ecef;
    transform: translateY(-2px);
}

.activity-log:last-child {
    margin-bottom: 0;
}

.timestamp {
    font-size: 0.85em;
    color: #6c757d;
    margin-top: 8px;
}

.activity-log-container::-webkit-scrollbar {
    width: 8px;
}

.activity-log-container::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 4px;
}

.activity-log-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

@media (max-width: 820px) {
    .activity-section {
        padding: 15px;
        margin: 15px;
    }

    .activity-log {
        margin-bottom: 15px;
        padding: 12px;
    }

    .timestamp {
        font-size: 0.8em;
    }
}

@media (max-width: 412px) {
    .activity-section {
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
    }

    .activity-log-container {
        padding-right: 5px;
    }

    .activity-log {
        margin-bottom: 10px;
        padding: 10px;
    }

    .timestamp {
        font-size: 0.75em;
    }
}
