body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

:root {
    --secondary-color: #081429;
    --primary-color: #228380;
    --third-color: #ff3e6c;
    background-color: #cccccc;
    --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --btn-padding: 15px;
    --border-radius: 8px;
}
